.DS_Store
__pycache__/
.venv/
camConverter/__pycache__/
camConverter/.venv/
camConverter/assets/analog/
camConverter/assets/scrambled/
camConverter/assets/output/
camConverter/assets/comparison/
camConverter/assets/test/
camConverter/assets/test_pattern.mp4
camConverter/assets/test_pattern.analog
camConverter/assets/test_pattern_scrambled.mp4
camConverter/assets/test_pattern_scrambled.analog
camConverter/assets/test_pattern_scrambled_line_rotation.mp4
camConverter/assets/test_pattern_scrambled_line_rotation.analog

camConverter/assets/decoded/
camConverter/assets/*
